body{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

button{
    height: 75px;
    width: 105px;
    border-radius: 5px;
    border: 1px solid rgb(229,229,229);
    background-color: rgb(249,249,249);
}

button:active{
    background-color: rgb(240,240,240);
}

table{
    border-collapse: collapse;
    background-color: rgb(243,243,243);
}

p{
    padding: 5px;
    height: 35px;
    width: 97%;
    border: none;
    background-color: rgb(243,243,243);
    margin: 0;
    font-size: 25px;
}

h1{
text-align: center;
}

.input_column{
    padding: 0px;
}

.num{
    background-color: rgb(255,255,255);
}

.num:active{
    background-color: rgb(250,250,250);
}

#invio{
    background-color: rgb(35, 85, 185);
    color: rgb(255,255,255);
}

#invio:active{
    background-color: rgb(15, 65, 165);
    color: rgb(255,255,255);
}

#history{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 515px;
    width: 30vw;
    font-size: 15px;
    border: 1px solid rgb(230,230,230);
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

#inner_history{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    width: min-content;
    height: min-content;
    border: 1px solid rgb(230,230,230);
    border-radius: 15px;
    background-color: rgb(240,240,240);
    padding: 5px;
}

#history_p{
    background-color: rgb(240,240,240);
    height: min-content;
    width: min-content;
}

#num_1{
    color: rgb(0,0,0);
}

#num_2{
    color: rgb(100,100,100);
    margin-bottom: 5px;
}

#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    overflow-y: auto;

}