body{
    margin:0px;
    height: 45vw; 
    background-color: white;
}

h1{
    margin: 0px;
}

.selezionatore{
height: 30px;
border-radius: 15px;
}

#selezionatore_1{
    background-color: #B5954A;
    border-color: none;
}

#selezionatore_2{
    background-color: #4855B7;
    border-color: none;
}


#contenitore{
margin-left: auto;

}

.banner_supriore{
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 5vw;
    box-shadow: 0 5px 10px rgb(70,70,70);
}

#banner_sinistra{
    background-color: #B5954A;
    width:50vw;
    transition: 0.5s;
    text-align: center;
}

#banner_sinistra:hover{
    background-color: #B5954A;
    width:75vw;;
}

#banner_destra{
    background-color: #4855B7;
    width:50vw;
    transition: 0.5s;
    text-align: center;
}
#banner_destra:hover{
    background-color: #4855B7;
    width:75vw;
}

#form{
    text-align: center;
    padding: 20px;
    width: 250px;
    margin-top: 5vw;
    margin-left: 40vw;
    box-shadow: 0 5px 10px rgb(70,70,70);
}

#output{
    margin-left: 35vw;
}
