body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    margin: 15px;
}

p{
    margin: 0px;
}
#banda_sup{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: rgb(3,145,66);
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    height:125px;
    color: rgb(255,255,255);
}

#tessera_sanitaria{
    width: 550px;
    height: min-content;
    border: 1px solid rgb(25,25,25);
    border-radius: 25px;
}

#form{
    padding: 25px;
}

#testo_supriore{
    width: 50%;
}

#calcola{
    margin-left: 125px;
    border: none;
    border-radius: 5px;
    height: 25px;
    background-color: rgb(3,145,66);
    color: rgb(255,255,255);
    text-decoration: none;

    transition: 3.5s;
}

#calcola:hover{
    text-decoration: underline;
}
