body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.btn_r{
    background-color: rgb(255, 235, 205);
    border-color: rgb(255, 235, 205);
}

.btn_l{
    background-color: rgb(245, 225, 195);
    border-color: rgb(245, 225, 195);
}

#centra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 50vw;
    height: 50vh;
}

#crittografa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color:rgb(255, 235, 205);
    height: 100%;
    width: 50%;
    transition: 1s;
}

#crittografa:hover{
    width: 80%;
}

#decritta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(245, 225, 195);
    height: 100%;
    width: 50%;
    transition: 1s;
}

#decritta:hover{
    width: 80%;
}

input{
    margin: 5px;
    width: 75%;
}

label{
    margin: 5px;
}
button{
    margin: 5px;
    height: 30px;
    border-radius: 15px;
}