body{
    font-family: verdana;
    font-size: 13px;
}

p,h2{
    margin: 0px;
}

table{
    border-collapse: collapse;
}

td{
    width: 130px;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(128,128,128);
}

input{
    border-radius: 3px;
    border: 1px solid rgb(128,128,128);
}

.table_input{
    width: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}

.form_item{
    margin: 10px;
}

#prima_riga{
    width: 150px;
    height: 50px;
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(128,128,128);
}

#contenitore_risposta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    width: 650px;
    background-color: rgb(235, 235, 235);
}

.button{
    height: 25px;
    width: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 112, 245);
    border: 2px solid rgb(51, 112, 245);
    border-radius: 3px;
    transition: 0.5s;
}

.button:hover{
    height: 25px;
    width: 80px;
    color: rgb(51, 112, 245);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(51, 112, 245);
    border-radius: 3px;
}

.button:active{
    height: 25px;
    width: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 112, 245);
    border: 2px solid rgb(51, 112, 245);
    border-radius: 3px;
    transition: 0.5s;
}

#elimina{
    background-color: rgb(245, 51, 51);
    border: 2px solid rgb(245, 51, 51);
}

#elimina:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(245, 51, 51);
}

#elimina:active{
    background-color: rgb(245, 51, 51);
    border: 2px solid rgb(245, 51, 51);
}

#modifica{
    background-color: rgb(35, 165, 35);
    border: 2px solid rgb(35, 165, 35);
}

#modifica:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(35, 165, 35);
}

#modifica:active{
    background-color: rgb(35, 165, 35);
    border: 2px solid rgb(35, 165, 35);
}

#div_modifica{
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 5px;
    border: 1px solid rgb(0,0,0);
    padding: 10px;

}