body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    font-family: Verdana;
    color: rgb(255,170,90)
}

label{
    margin:5px;
}

input{
    margin: 5px;
    width: 50px;
}

button{
    margin: 5px;
    background-color: rgb(255,170,90);
    border: 0px;
    border-radius: 15px;
    height: 30px;
    font-size: 15px;
}

button:hover{
    box-shadow: 0 3px 4px rgb(128,128,128);
}

button:active{
    box-shadow: 0 3px 8px rgb(128,128,128);
}

table{
    background-color: white;
    border-collapse:collapse;
}
td,tr {
    height: 50px;
    width: 50px;
}

#centra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgb(128,128,128);
    box-shadow: 0 10px 20px rgb(100,100,100);
    padding: 15px;
}