body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #deb2b2;
    height: 75vh;
}

h1{
    color: rgb(100,0,0);
    margin: 10px
}

label{
    margin: 10px;
}

input{
    margin: 10px;
    border-radius: 8px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

td,tr{
    height: 25px;
    width: 25px;
}

#centra_es{
    width: 25vw;
    border: 1px solid rgb(128,128,128);
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 6px 12px rgb(128,128,128);
}

button{
    width: 45px;
    height: 30px;
    color: rgb(255,255,255);
    border: none;
    border-radius: 15px;
    background-color: rgb(100,0,0);
    transition: 0.5s;
}

button:hover{
    width: 60px;
}
